<% include ../partials/header %>
<div class="mt-5 container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
        <div class="card mb-3">
        <img class="card-img-top" src="<%= campground.image %>" alt="<%= campground.name %>">
        <div class="card-body">
          <p class="float-right">
            $99.9/night
          </p>
          <h5 class="card-title"><%= campground.name %></h5>
          <p>
            <em>Submitted by: Gordon</em>
          </p>
          <hr>
          <p class="card-text"><%= campground.description %></p>
          
        </div>
      </div>
  


      <div class="card">
      <div class="card-body">
        <div class="text-right">
        <% if(currentUser){ %>
        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addComment" data-whatever="@fat">Comments On!!!</button>
        <% } %>
        </div>
                <hr>
                <% campground.comments.forEach((comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %> 
                            </p>
                        </div>
                    </div>
                <% }) %>
            </div>

        </div>
    </div>    
</div>

<% include ../partials/footer %>


<div class="modal fade" id="addComment">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">Send your thoughts to <%= campground.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="comment-text" class="col-form-label">Comment:</label>
            <input class="form-control" name="comment[text]" id="comment-text"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
      </form>
    </div>
  </div>
</div>